*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, red ,green, yellow);
    display: flex;
    justify-content: center;
    align-items: center;

}
.div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    border: 1px solid ;
    padding: 10px;
    margin-inline:500px;
    background-color: deeppink;
}
.div #btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div #taskInput{
    font-size: 18px;
    font-weight: 100;
    border-radius: 5px;
    outline: none;
    border: none;
    margin: 10px;
    width: 250px;
    height: 30px;
    background-color: aqua;
    color: black;
}
.button{
    width:  250px;
    border: none;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background: linear-gradient(to right,pink,#d9ff00);
    cursor: pointer;
}
.button:hover{
       background: rgb(185, 32, 216);
       color: aliceblue;
}
.list{
    width: 250px;
    height: 400px;
    position: fixed;
    right: 950PX;
    top: 60PX ;
    background-color: blueviolet;
    padding: 10PX;   
    border-radius: 5px;
    overflow-x: hidden;
   overflow-y: auto;
}
